div.startBar {
	display: block;
}

div {
		display: inline-block;
}

.card {
	box-sizing: border-box;
	border: 1px solid black;
	text-align: center;
	height: 200px;
	width: 200px;
	color: white;
	background-color: goldenrod;
}

